<div id="blog" class=" row container-fluid animatable fadeInUp">
    <div class="col-md-4">
      <p class="report_logo">Reports</p>
      <p class="report_content">To Test the efficacy of Aquaeca Desy, we teamed up with the best microbiologists in India and thouroughly tested the efficiency of the solution
        We are very proud of the results and want to show it to you! </p>
        <p class="report_content">Here are few of the reports that we have gathered:-
        </p>
        <ul>
          <li class="download_point"><a class="download_link" href="/assets/Documents/AquaecaReport1.pdf">Aquaeca Report</a></li>
          <li class="download_point"><a class="download_link" href="/assets/Documents/Uses.pdf">Uses</a></li>
        </ul>
    </div>
    <div class="col-md-4">
      <p class="report_logo">Installation</p>
      <p class="report_content">Aquaeca is simple and quick to install and maintain, Here is a short video to show it</p>
      <iframe class="install_video" src="https://www.youtube.com/embed/u1K2Jkvm68E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col-md-4">
      <p class="report_logo">Brochures</p>
      <p class="report_content">Here is the detailed specifications and features brochure for Aquaeca:</p>
      <ul>
        <li class="download_point"><a class="download_link" href="/assets/Documents/Aquaeca_2020.pdf">Aquaeca Brochure</a></li>
        <li class="download_point"><a class="download_link" href="/assets/Documents/Aquaeca_brochure.pdf">Aquaeca for Medical disinfection</a></li>
        <li class="download_point"><a class="download_link" href="/assets/Documents/Aquaeca_food.pdf">Aquaeca for food Industry</a></li>
       
      </ul>
    </div>
  </div>
