<div id="blog" class=" row container-fluid animated fadeInUp">
    <div class="col-md-8">
      <p class="report_logo">Reports</p>
      <p class="report_content">To Test the efficacy of EcoAqua Desy, we teamed up with the best microbiologists in India and thouroughly tested the efficiency of the solution
        We are very proud of the results and want to show it to you! </p>
        <p class="report_content">Here are few of the reports that we have gathered:-
        </p>
        <ul>
          <li class="download_point"><a class="download_link" href="/assets/Documents/EcoAquaReport.pdf">EcoAqua Report</a></li>
          <li class="download_point_ppt"><a class="download_link" href="/assets/Documents/ECOAQUA_ppt.ppt">Presentation for prospective clients</a></li>

        </ul>
    </div>
    <div class="col-md-4">
      <p class="report_logo">Brochures</p>
      <p class="report_content">Here is the detailed specifications and features brochure for EcoAqua:</p>
      <ul>
        <li class="download_point"><a class="download_link" href="/assets/Documents/EcoAqua_Brochure.pdf">EcoAqua Brochure</a></li>
        <li class="download_point"><a class="download_link" href="/assets/Documents/EcoAquaMedical.pdf">EcoAqua for Medical disinfection</a></li>
      </ul>
    </div>
  </div>
