#contactme {
    margin: -1.1em;
    position: relative;
    height:500px;
    color: rgb(2, 0, 0);
    font-family: 'Open Sans Condensed';
    font-size: 22px; 
}
.contact_content{
    text-align: left;
    margin-left:3%;
   
}

.contact_title{
    font-size: 40px;
}