<div id="contactme" class="row container-fluid animated fadeInDown">
    <div class="col-md-4">
        <div class="contact_content">
            <p class="contact_title">Contact Us</p>
            <cma-contact-form class="contactform"></cma-contact-form>
        </div>
    </div>
    <div class="col-md-4">
        <p class="contact_title">Reach To Us</p>
        <div class="office_address">
            <p><b><u>Office:</u></b></p>
            <br>
            <p>3rd Floor,</p>
            <p>A-1 Harbans Bhavan-1, </p>
            <p>9 DDA BusinessCentre, </p>
            <p>Nangal Raya,</p>
            <p>New Delhi-110046 India</p>
            <p>Tel:(India) (+91) 011-45035048</p>
            <br>
            <p><b><u>Manufacturing Unit:</u></b></p>
            <br>
            <p>Plot No. 106</p>
            <p>Rozka Meo Industrial Area</p>
            <p>Tehsil-Nuh, Dist. Mewat</p>
            <p>Haryana -122103 India</p>
            <br>
            <p><b><u>Email:</u></b></p>
            <br>
            <p class="office_address">sales@ecoaquasolutions.com</p>
            <br>
        </div>
    </div>
    <div class="col-md-4">
        <p style="margin-left: 200px; display: inline;" class="contact_title"> We  </p><p style="display: inline; color:red" class="contact_title" >&hearts; </p><p style="display: inline; color: lightgreen;" class="contact_title" >Green</p>
         <img src="/assets/images/contact_us/leaf.png" class="stock-image1">
    </div>
</div>