<form action="mailto:sales@ecoaquasolutions.com" method="post" enctype="text/plain">
    <div class="form-group">
        <label for="name">Name:</label>
        <input class="form-control message_textarea" id="name" type=text>
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <input class="form-control message_textarea" id="email" type=text>
    </div>
    <div class="form-group">
        <label class="message_label" for="message">Message:</label>
        &nbsp;
        <textarea type="text" id="message" rows="4" class="form-control message_textarea"></textarea>
    </div>
        <input type="submit" class="btn btn-success submit_button">
</form>