<div id="project" class="row container-fluid animated fadeInDown">
    <div class="product_image_container col-md-4">
        <div class="product-align">
            <p class="product_logo" style="color: purple;display: inline;">Eco<p class="product_logo" style="color: green;display: inline;">AQUA</p>
        </div>
        <br>
        <img class="Aquaeca-image1" src="assets/images/products/EcoAqua-Image1.png">
        &nbsp;
        &nbsp;
        <img class="Aquaeca-image2" src="assets/images/products/EcoAqua-Image2.png">
    </div>
    <div class=" product_image_container col-md-4">
        <p class="product_logo" style="text-align: center;" >Technology</p>
        <img class="Aquaeca_flow" src="assets/images/products/Aquaeca_flow.PNG">
        <div class="tech_info">
            <li>Introducing EcoAqua that allows obtaining of electrolyzed water via saturated 35% common salt which is mixed with flowing tap water </li>
            <br>
            <li>The electrolytic process in patented models produces EcoAqua Desy that contains unparalleled efficiency and safety</li>
            <br>
            <li>EcoAqua technology eliminates the disadvantages of sodium hypochlorite and establishes new standard of efficieny and safety in disinfection</li>
            <br>
            <br>
            <br>
        </div>
    </div>
    <div class="col-md-4">
        <p class="product_logo" style="text-align: center; color: #2BB673" >Benefits</p>
        <ul >
            <li class="benefit_point">Unparalleled Efficiency : eliminates all harmful microorganisms including legionella, salmonella,listeria,bird-flu with no bacterial resistence to Desy in 20 years</li>
            <li class="benefit_point">Complete Safety and eco friendly : EcoAqua disinfectant is not harmful in case of accidental ingestion and does not utilize aggresive chemical substances</li>
            <li class="benefit_point">Simplicity and Automation : EcoAqua Desy can be manufactured in situ using salt and water on demand with minimal power consumption</li>
        </ul>
       

    </div>
</div>
