<div id="intro" class="row container-fluid animated fadeInDown">
        <p class="row banner_title">Eco-Aqua Solutions India</p>
        <p class="row intro_content">Leading the future of eco-friendly disinfecting products and solutions</p>
            <div class="col-md-3">
                <img src="/assets/images/about_us/hospital_icon.svg" class="app_area_icons">
                <p class="app_area_title">Hospitals</p>
                <div class="app_area_content">
                    <li>Disinfection and cleaning in hospitals and health centres</li>
                    <br>
                    <li>Surfaces of medical devices</li>
                    <br>
                    <li>Waste Disinfection: bandages,clothes etc.</li>
                    <br>
                    <br>
                </div>
            </div>
            <div class="col-md-3 ">
                <img src="/assets/images/about_us/agriculture_icon.svg" class="app_area_icons">
                <p class="app_area_title">Agriculture</p>
                <div class="app_area_content">
                    <li>Animal and farm installations treatment,efficent method of prevention of different diseases</li>
                    <br>
                    <li>Treatment of agricultural products(including fresh products)</li>
                    <br>
                    <li>Elimination and prevention of plant diseases and greenhouses</li>
                </div>
            </div>
            <div class="col-md-3">
                <img src="/assets/images/about_us/hotels_icon.svg" class="app_area_icons">
                <p class="app_area_title">Hotels and Restaurants</p>
                <div class="app_area_content">
                    <li>Cleaning and disinfection of food-processing and industrial equipment</li>
                    <br>
                    <li>Safe Disinfection of hot and cold domestic water systems</li>
                    <br>
                    <li>Faster Safer and more efficient sanitation in comparison to traditional methods</li>
                </div>
            </div>
            <div class="col-md-3">
                <img src="/assets/images/about_us/swimmingpool_icon.svg" class="app_area_icons">
                <p class="app_area_title">Swimming pools</p>
                <div class="app_area_content">
                    <li>Disinfection of swimming pool water</li>
                    <br>
                    <li>Eliminates chlorine odor and does not irritate</li>
                    <br>
                    <li>Does not effect pH and corrosion</li>
                    <br>
                    <br>
                </div>
            </div>
</div>