#intro {
    margin-left: -1em;
    padding-top:50px;
    height:700px;
    color: #fff;
    }
.banner_title{
    font-size: 80px;
    margin-bottom: -0.5%;
    font-family: 'Open Sans Condensed';
    margin-left: 5%;
}
.intro_content{
    margin-left: 12%;
    margin-bottom: 15%;
    font-size: x-large;
}